@font-face {
    font-family: "manrope";
    src: url("./fonts/manrope/fonts/ttf/Manrope-Regular.ttf") format("truetype");
    src: url("./fonts/manrope/fonts/web/Manrope-Regular.woff") format("woff");
    src: url("./fonts/manrope/fonts/otf/Manrope-Regular.otf") format("opentype");
}

@font-face {
    font-family: "inter";
    src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype")
}

@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto/Roboto-Black.ttf") format("truetype");
    src: url("./fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
    src: url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
    src: url("./fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
    src: url("./fonts/Roboto/Roboto-Italic.ttf") format("truetype");
    src: url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

:root {
    /* --lightblue: #8fb3d4; */
    --lightblue: #7BAFD4;
    /* --bodyText: "manrope"; */
    --headerText: "roboto";
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: "manrope"; */
    font-family: "inter", "roboto", sans-serif;
    font-weight: 200;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}


/* footer is sometimes not sticking to bottom of page and I don't know why, added fixed position for now */

footer {
    color: #ffffff;
    background-color: var(--lightblue);
    font-weight: 100;
    position: fixed;
    bottom: 0px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5rem 5% 1rem 5%;
}

.blueWrapper {
    background-color: var(--lightblue);
    font-size: .8rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    border-bottom: solid 1px lightgrey;
}

.navWrapper {
    font-weight: 300;
    border: solid blue 1px;
}

.navWrapper ul {
    gap: 1.5vw;
    /* margin-right: -5vw; */
}

.logo {
    max-width: 250px;
    min-width: 100px;
    width: 100%;
    height: auto;
    margin: auto;
    border: solid pink 1px;
}

.logo-container {
    align-self: center;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}

svg {
    fill: rgb(32, 32, 32);
}

.wrapper-upper-footer {
    grid-column: 1/6;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 3rem;
}

.widget-title {
    font-size: 1rem;
    font-weight: 300;
    font-family: "inter", "roboto", sans-serif;
    text-transform: uppercase;
}

.block-1 {
    grid-column: 1/3;
    max-width: 70%;
    line-height: 2rem;
}

.fake-form {
    background-color: #6e91b1;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    margin-top: 2rem;
    border: solid 1px rgba(150, 150, 150, 0.653);
}

.fake-form>p {
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.placeholder-text {
    color: lightgrey;
}

.block-2 {
    grid-column: 3/4;
}

.block-3 {
    grid-column: 4/5;
}

.block-5 {
    grid-column: 5/6;
}

.footer-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.footer-list li {
    margin-bottom: 1rem;
}

.footer-bottom-wrapper {
    grid-column: 1/6;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.long p {
    display: inline;
    margin-right: 1vw;
}

.payment-methods {
    margin-bottom: -10px;
}

.right-side {
    line-height: .5rem;
    margin-top: -2rem;
}

.right-side img {
    width: 150px;
    height: auto;
    margin-top: -5rem;
}


/* category page start */

.main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.entire_catogry_group {
    background-color: #F5F5F5;
}

.entire_catogry_group:first-child {
    width: 21%;
}

.items {
    display: flex;
    flex-direction: column;
}

.items li {
    margin: 10px;
}

.title_color {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title_color li {
    font-size: 26px;
}

.title_color>* {
    flex: 0 0 auto;
    width: 200px;
}

.color-page {
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
}

.price-page {
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
}

.hidden {
    display: none;
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox>span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.checkbox>input {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid black;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.checkbox>input:checked {
    border: 1px solid black;
    background-color: #34495E;
}

.plus_sign {
    margin-top: 8px;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-image: url("/Images/plus_line.svg");
}

.minus_sign {
    margin-top: 8px;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-image: url("/Images/minus.png");
}


/* category page end */

.footer {
    clear: both;
    position: relative;
    height: 600px;
}


/* page with the items to sell start */

.items_to_show {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* page with the items to sell end */


/* .main {
    justify-content:space-between;
} */