@font-face {
    font-family: "manrope";
    src: url("./fonts/manrope/fonts/ttf/Manrope-Regular.ttf") format("truetype");
    src: url("./fonts/manrope/fonts/web/Manrope-Regular.woff") format("woff");
    src: url("./fonts/manrope/fonts/otf/Manrope-Regular.otf") format("opentype");
}

:root {
    --lightblue: #8fb3d4;
    --bodyText: "manrope";
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "manrope";
    font-weight: lighter;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

footer {
    color: #ffffff;
    background-color: var(--lightblue);
    font-weight: 100;
    position: fixed;
    bottom: 0px;
}


/* ul li {}

header {} */

.blueWrapper {
    background-color: var(--lightblue);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
}

.headerWrapper {
    display: flex;
    justify-content: space-around;
    height: 4rem;
}

.headerWrapper {
    border-bottom: solid 1px lightgrey;
}

.logo {
    max-width: 200px;
    min-width: 100px;
    width: 100%;
    height: auto;
    margin: 15px auto 15px auto;
}

.buttonWrapper {
    display: flex;
    max-width: 200px;
}

.footer-inner {
    columns: 3;
    margin-left: 15%
}


/* .footer-inner {
    flex
} */


/* svg {
    width: 17px;
    height: 17px;
} */